.colophon {
  background-color: $purple-opacity;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $footer-height;
  padding: 40px 15px;

  .logo {
    height: 56px;
    width: 56px;
    cursor: pointer;

    img {
      object-fit: contain;
    }
  }

  .navigation {
    margin: 40px auto 64px auto;
  }

  .privacy {
    @include small-text(center);
  }
}

// Mobile media actions

@media screen and (max-width: 500px) {
  .colophon {
    .navigation.container {
      flex-direction: column;

      li:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
