#search {
  & > .title {
    @include main-title(center);
    margin: 40px 0 60px 0;
    width: 100%;
  }

  & > .subtitle {
    @include text-style($grey);
    text-align: center;
    margin: -40px 0 80px 0;
    width: 100%;
  }
}

#search-input {
  position: fixed;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
  height: 100px;
  max-width: 1040px;
  width: calc(100% - 15px);
  top: -999px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all $transition-slow;
  padding: 25px 40px;
  z-index: 2;

  &.active {
    top: 160px;
    transition: all $transition-normal;
  }
}

@media only screen and (max-width: 600px) {
  #search-input {
    padding: 25px 20px;
  }
}

@media only screen and (max-width: 500px) {
  #search-input {
    height: 150px;
  }
}
